<!DOCTYPE html>
<html lang="en">
<%- include("head")%>
<body>
<%- include("header")%>
<h1>Sô người đăng nhập <%=count%></h1>
<nav class="col-md-12">
    <div class="container">

    </div>
</nav>
<%- include("section")%>
<%- include("footer")%>
<section class="main col-md-12">
    <div class="container">
        <h1><%= p.name %></h1>
        <img src="<%= p.image%>" alt="">

    </div>
</section>
</body>
</html>